# All build-related directories should not be in Git.
dist/
build/
python_http_parser.egg-info

**.pyc

.DS_STORE

.vscode

.venv/

# No sphinx.
docs/_build

# Benchmark results
.benchmarks
