include CHANGELOG.rst
include LICENSE
include README.rst

include Makefile

include pyproject.toml
include setup.cfg
include setup.py
include .rstcheck.cfg

graft requirements
graft tests
graft docs

global-exclude *.pyc
